
<div id="main">
<p>Hej iz view-a</p>
<ul>
{{#each model as |person|}}
<li>Name: <strong>{{person.name}}</strong>, surname: <strong>{{person.surname}}</strong></li>
{{/each}}
</ul>
<button>Upisi se</button>
</div>